In [18]:
import pandas as pd

# Membaca file CSV
data = pd.read_csv('multiTimeline (9).csv')

# Menampilkan data
print(data.head())

          Day  Coldplay 212: (Indonesia)  212: (Indonesia)
0  2023-04-11                          0                48  \
1  2023-04-12                          0                55
2  2023-04-13                          0                57
3  2023-04-14                          0                69
4  2023-04-15                          0                45

   tolak coldplay: (Indonesia)  Coldplay lgbt: (Indonesia)
0                            4                           4
1                            0                           0
2                            0                           0
3                            0                           0
4                            4                           0

In [19]:


# Convert the 'Day' column to datetime format
data['Day'] = pd.to_datetime(data['Day'])

# Print the DataFrame to verify the data
print(data)

          Day  Coldplay 212: (Indonesia)  212: (Indonesia)
0  2023-04-11                          0                48  \
1  2023-04-12                          0                55
2  2023-04-13                          0                57
3  2023-04-14                          0                69
4  2023-04-15                          0                45
..        ...                        ...               ...
83 2023-07-03                          0                39
84 2023-07-04                          0                40
85 2023-07-05                          0                50
86 2023-07-06                          0                45
87 2023-07-07                          0                40

    tolak coldplay: (Indonesia)  Coldplay lgbt: (Indonesia)
0                             4                           4
1                             0                           0
2                             0                           0
3                             0                           0
4                             4                           0
..                          ...                         ...
83                            0                           0
84                            0                           0
85                            0                           5
86                            0                           2
87                            0                           0

[88 rows x 5 columns]

In [20]:
# Accessing specific columns
print(data['Day'])  # Access the 'Day' column
print(data['Coldplay 212: (Indonesia)'])  # Access the 'Coldplay 212: (Indonesia)' column

# Filtering the data
filtered_data = data[data['Coldplay 212: (Indonesia)'] > 50]  # Filter data based on a condition
print(filtered_data)

# Aggregating the data
total_tweets = data['Coldplay 212: (Indonesia)'].sum()  # Calculate the sum of 'Coldplay 212: (Indonesia)' column
average_tweets = data['Coldplay 212: (Indonesia)'].mean()  # Calculate the average of 'Coldplay 212: (Indonesia)' column
print("Total Tweets:", total_tweets)
print("Average Tweets:", average_tweets)

0    2023-04-11
1    2023-04-12
2    2023-04-13
3    2023-04-14
4    2023-04-15
        ...
83   2023-07-03
84   2023-07-04
85   2023-07-05
86   2023-07-06
87   2023-07-07
Name: Day, Length: 88, dtype: datetime64[ns]
0     0
1     0
2     0
3     0
4     0
     ..
83    0
84    0
85    0
86    0
87    0
Name: Coldplay 212: (Indonesia), Length: 88, dtype: int64
Empty DataFrame
Columns: [Day, Coldplay 212: (Indonesia), 212: (Indonesia), tolak coldplay: (Indonesia), Coldplay lgbt: (Indonesia)]
Index: []
Total Tweets: 209
Average Tweets: 2.375

In [21]:
# Assuming your DataFrame is named 'data'
correlation_matrix = data.corr()

print(correlation_matrix)

                                  Day  Coldplay 212: (Indonesia)
Day                          1.000000                  -0.080534  \
Coldplay 212: (Indonesia)   -0.080534                   1.000000
212: (Indonesia)            -0.209546                   0.662778
tolak coldplay: (Indonesia) -0.099489                   0.830071
Coldplay lgbt: (Indonesia)   0.117927                   0.689607

                             212: (Indonesia)  tolak coldplay: (Indonesia)
Day                                 -0.209546                    -0.099489  \
Coldplay 212: (Indonesia)            0.662778                     0.830071
212: (Indonesia)                     1.000000                     0.626152
tolak coldplay: (Indonesia)          0.626152                     1.000000
Coldplay lgbt: (Indonesia)           0.618486                     0.613740

                             Coldplay lgbt: (Indonesia)
Day                                            0.117927
Coldplay 212: (Indonesia)                      0.689607
212: (Indonesia)                               0.618486
tolak coldplay: (Indonesia)                    0.613740
Coldplay lgbt: (Indonesia)                     1.000000

In [22]:
specific_correlation = correlation_matrix['Coldplay 212: (Indonesia)']['212: (Indonesia)']
print("Correlation between 'Coldplay 212: (Indonesia)' and '212: (Indonesia)':", specific_correlation)

Correlation between 'Coldplay 212: (Indonesia)' and '212: (Indonesia)': 0.662778373175044

ANJ